# dependencies
node_modules/
package-lock.json

# logfiles
*.log

# output
dist/

# test
coverage/

# env
.env
.env.local
.envrc

# OS
.DS_Store

# VSCode
.vscode/*
!.vscode/extensions.json
.vercel

# codegen
codegen/

# Next.js
.next/

# Vercel
.vercel/

# ESLint
.eslintcache
